{{#link-to "overview" class="brand-logo"}}Backuperator{{/link-to}}

<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
	{{#active-link}}
		{{#link-to "overview"}}Status{{/link-to}}
	{{/active-link}}
	{{#active-link}}
		{{#link-to "backups"}}Backups{{/link-to}}
	{{/active-link}}
	{{#active-link}}
		{{#link-to "jobs"}}Jobs{{/link-to}}
	{{/active-link}}
	{{#active-link}}
		{{#link-to "config"}}Configuration{{/link-to}}
	{{/active-link}}
</ul>

<ul class="side-nav" id="mobile-demo">
	{{#active-link}}
		{{#link-to "overview"}}Status{{/link-to}}
	{{/active-link}}
	{{#active-link}}
		{{#link-to "backups"}}Backups{{/link-to}}
	{{/active-link}}
	{{#active-link}}
		{{#link-to "jobs"}}Jobs{{/link-to}}
	{{/active-link}}
	{{#active-link}}
		{{#link-to "config"}}Configuration{{/link-to}}
	{{/active-link}}
</ul>
