.page-overview {
    h3 {
        font-size: 1.5em;
        margin-bottom: 0.33em;
    }

    h3:first-of-type {
        margin-top: 0;
    }

    .info {
        font-style: italic;

        margin: 0;
    }
}
