{{!-- loading indicator --}}
{{loading-slider isLoading=loading duration=250}}

{{!-- render global nav --}}
{{outlet "nav"}}

{{!-- put the actual content here --}}
<div class="container">
    {{outlet}}
</div>
