<div class="row">
    <div class="col s12" id="overview">
        <h1>Overview</h1>
    </div>

    <div class="col s12" id="libraries">
        <p>Display all tape libraries</p>
    </div>

    <div class="col s12" id="inventory">
        <p>Display all inventory</p>
    </div>
</div>
